<h1>Longestword#score</h1>
<p>Find me in app/views/longestword/score.html.erb</p>

<h4>******** Now your result ********</h4>
<p>Your word: <%= @attempt %></p>
<p>Time Taken to answer: <%= @result[:time] %></p>
<p>Your score: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>
